<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Opret kunde</title>
</head>
<body>
<div id="vertical-body-contents">
    <div id="body-container">
        <div id="details-body">
            <div id="details-input">
                <h1>Opret kunde</h1>
                <div id="inputs">
                    <form action="/v1/customers/" method="post">
                        <div class="input-row">
                            <div class="input-column">
                                <p>Fornavn:</p><input type="text" name="FirstName">
                                <p>Efternavn:</p><input type="text" name="LastName">
                                <p>By:</p><input type="text" name="City">
                                <p>Postnummer:</p><input type="text" name="ZipCode">
                                <p>Adresse (Gade kun):</p><input type="text" name="Street">
                                <p>Husnummer:</p><input type="text" name="HouseNumber">
                            </div>
                        </div>
                        <div class="checkboxes">
                            <br>
                                <label>
                                    <input id="identityCheckbox" type="checkbox">Er identitet bekræftet?
                                    <input id="identityValue" hidden="true" name="IdentityValidated">
                                </label>
                            <br>
                            <br>
                                <label>
                                    <input id="creditCheckbox" type="checkbox">Er kredit valideret?
                                    <input hidden="true" name="CreditValidated" id="creditValue">
                                </label>
                            <br>
                        </div>
                        <button type="submit" class="login-button" style="margin-top: 20px;margin-bottom: 20px">
                            <p>Gem og opret kunde</p>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const identityChecbox = document.getElementById("identityCheckbox");
    const creditCheckbox = document.getElementById("identityCheckbox");

    identityChecbox.addEventListener("change", () => {
        document.getElementById("identityValue").value = identityChecbox.checked;
    })

    creditCheckbox.addEventListener("change", () => {
        document.getElementById("creditValue").value = creditCheckbox.checked;
    })

    window.addEventListener("load", () => {
        document.getElementById("identityValue").value = identityChecbox.checked;
        document.getElementById("creditValue").value = creditCheckbox.checked;
    })
</script>
</body>
</html>