<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/sidenav.css">
    <link rel="stylesheet" href="css/cars.css">
    <link rel="stylesheet" href="css/tablestyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Liste over kunder</title>
</head>
<body>
<div id="vertical-body-contents">
    <div id="body-container">
        <div class=table-body>
            <div class="table-title">
                <h1>Kunder </h1>
            </div>
            <div class="table-container">
                <div class="menu-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Fornavn</th>
                            <th>Efternavn</th>
                            <th>Adresse</th>
                            <th>Kunde siden</th>
                            <th>Aktioner</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="customer: ${customers}">
                            <td th:text="${customer.firstName}"></td>
                            <td th:text="${customer.lastName}"></td>
                            <td th:text="${customer.address.street} + ' ' + ${customer.address.houseNumber} +', ' + ${customer.address.zipCode}"></td>
                            <td th:text="${customer.createdAt}"></td>
                            <td><a th:href="@{'/customers/'+${customer.customerId}}">Detaljer</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>