<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/bookings.css">
    <link rel="stylesheet" href="../css/Tablestyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Kunde</title>
</head>
<body>
<div id="vertical-body-contents">
    <div class="topbar" >
        <div id="header-icon">
            <img id="menu-icon" src="../images/Logo.svg" onclick="window.location.href='/'">
        </div>
    </div>
    <div id="body-container">
        <div class="sidenav">
            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons">search</span>
            </div>

            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons" >home</span>
            </div>

            <div class="menu-button" onclick="window.location.href='/cars'">
                <span class="material-icons">directions_car</span>
            </div>

            <div class="menu-button" onclick="window.location.href='/customers'">
                <span class="material-icons" style="color: dodgerblue">group</span>
            </div>

            <div class="menu-button" onclick="window.location.href='/bookings'">
                <span class="material-icons">description</span>
            </div>

            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons">trending_up</span>
            </div>

            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons">settings</span>
            </div>
        </div>
</div>
</div>
</body>
</html>