<!DOCTYPE html>
<html>
<head>

    <script>
        //Script to close popup after form submit
        var count = 0;
        function onLoadClose(){
            if(count===1){window.close();}else{count++;}
        }
    </script>

    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Opret sag</title>
</head>
<body>
<div id="vertical-body-contents">
    <div id="body-container">
        <div id="details-body">
            <div id="details-input">
                <h1>Opret ny sag</h1>
                <div id="inputs">
                    <iframe name="dummyframe" id="dummyframe" onload="onLoadClose()" style="display: none;"></iframe>
                    <form action="/v1/tickets/" method="post" target="dummyframe">
                        <input hidden="true" name="UserId" th:value="${UserID}">
                        <div class="input-row">
                            <div class="input-column">
                                <p>Emne:</p><input type="text" name="TicketName">
                                <p>Prioritet:</p><select name="Severity" placeholder="MEDIUM">
                                <option th:each="severity : ${T(com.example.bilabonnmenteksamensprojekt.models.system.Severity).values()}"
                                        th:value="${severity}"
                                        th:text="${severity}">
                                </option>
                            </select>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-column">
                                <p>Beskrivelse:</p><textarea type="text" name="Description" style="width: 98%; padding-bottom: 15vh" placeholder="Indtast beskrivelse..."></textarea>
                            </div>

                        </div>
                        <div class="Gem ticket">
                            <button type="submit" onclick="document.getElementById('loading_gif_update').setAttribute('style', 'margin-bottom: -1.5%;opacity: 1');" class="login-button" style="margin-top: 20px;">
                                <p>Opret sag</p>
                            </button>
                            <img id="loading_gif_update" style="margin-bottom: -3%;opacity: 0" src="../images/loadingsmall.gif">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

</html>