<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/Forside.css">
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/TableStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Sager</title>
</head>
<body>
<div id="vertical-body-contents">
    <div id="body-container">
        <div class=table-body>
            <div class="table-title">
                <h1>Aktive sager</h1>
            </div>
            <div class="table-container">
                <div class="menu-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Sag nr.</th>
                            <th>Oprettet af</th>
                            <th>Prioritet</th>
                            <th>Emne</th>
                            <th>Detaljer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ticket: ${tickets}">
                            <td th:text="${ticket.ticketId}"></td>
                            <td th:text="${ticket.user.firstName} + ' ' + ${ticket.user.lastName}"></td>
                            <td th:text="${ticket.severity}"></td>
                            <td th:text="${ticket.ticketName}"></td>
                            <td><button class="login-button" th:data-url="'/tickets/' + ${ticket.ticketId}" onclick="editTicket(this.getAttribute('data-url'))">Åben detaljer</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button onclick="newTicket()" style="float: right">
                    <p>Opret ny sag</p>
                </button>
            </div>
        </div>
 </div>
</div>
</body>
<script>
function editTicket(url){
    var win = window.open(url,'Sag detaljer','width=300,height=650');
    var timer = setInterval(function() {
        if(win.closed) {
            clearInterval(timer);
            window.location.href = ('../tickets')
        }
    }, 1000);
}
function newTicket(){
    var win = window.open('/createTickets','Opret ticket','width=300,height=650');
    var timer = setInterval(function() {
        if(win.closed) {
            clearInterval(timer);
            window.location.href = ('../tickets')
        }
    }, 1000);
}
</script>
</html>

