<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/shared.css">
        <link rel="stylesheet" href="../css/sidenav.css">
        <link rel="stylesheet" href="../css/cars.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title th:text="'Detaljer: ' + ${car.carSpecification.brand} + ' ' + ${car.carSpecification.model}"></title>
    </head>
    <body>
        <div id="vertical-body-contents">
            <div class="topbar" >
                <div id="header-icon">
                    <img id="menu-icon" src="../images/testlogo.png" onclick="window.location.href='/'">
                </div>
            </div>
            <div id="body-container">
                <div class="sidenav">
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">search</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons" >home</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/cars'">
                        <span class="material-icons" style="color: dodgerblue">directions_car</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">group</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">description</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">trending_up</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">settings</span>
                    </div>
                </div>
                <div id="details-body">
                    <div id="details-input">
                        <h1>Bil detaljer</h1>
                        <div id="inputs">
                            <form action="../add" method="post">
                                <div class="input-row">
                                    <div class="input-column">
                                        <p>Mærke:</p><input type="text" placeholder="Mærke" th:value="${car.carSpecification.brand}">
                                    </div>
                                    <div class="input-column">
                                        <p>Model:</p><input type="text" placeholder="Model" th:value="${car.carSpecification.model}">
                                    </div>  
                                </div>
                                <div class="input-row">
                                    <div class="input-column">
                                        <p>Gear type:</p><select placeholder="Geartype">
                                            <option th:each="gearType : ${T(com.example.bilabonnmenteksamensprojekt.models.cars.CarEngine.GearType).values()}"
                                                    th:value="${gearType}"
                                                    th:text="${gearType}"
                                                    th:selected="${gearType eq car.carSpecification.carEngine.gearType}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="input-column">
                                        <p>Brændstof type:</p><select placeholder="Brændstof type">
                                            <option th:each="fuelType : ${T(com.example.bilabonnmenteksamensprojekt.models.cars.CarEngine.FuelType).values()}"
                                                    th:value="${fuelType}"
                                                    th:text="${fuelType}"
                                                    th:selected="${fuelType eq car.carSpecification.carEngine.fuelType}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-row">
                                    <div class="input-column">
                                        <p>Co2 Udledning:</p><input type="text" placeholder="Co2 udledning" th:value="${car.carSpecification.carEngine.emissions}">
                                    </div>
                                    <div class="input-column">
                                        <p>Km/l:</p><input type="text" placeholder="Kilometer per liter" th:value="${car.carSpecification.carEngine.kilometersPerLiter}">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tilbage-btn">
                        <button type="submit" class="login-button" onclick="window.location.href='/cars'">
                            <p>Tilbage</p>
                        </button>
                    </div>
                    <div class="car-picture">
                        <span class="material-icons" style="display: block;text-align: center;font-size: 100px;justify-content: center;margin-top: 50%;" >directions_car</span>
                    </div>

                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </body>
      </div>
    </body>
</html>