<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/shared.css">
        <link rel="stylesheet" href="css/sidenav.css">
        <link rel="stylesheet" href="css/cars.css">
        <link rel="stylesheet" href="css/tablestyle.css">
        <link rel="stylesheet" href="css/Forside.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Liste over biler</title>
    </head>
    <body>
        <div id="vertical-body-contents">
            <div id="body-container">
                <div class=table-body>
                    <div class="table-title">
                        <h1>Oversigt over biler</h1>
                    </div>
                    <div class="table-container">
                        <div class="menu-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>Mærke</th>
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Geartype</th>
                                    <th>Brændstof</th>
                                    <th>Pris (pr måned) </th>
                                    <th>Status</th>
                                    <th>Aktioner</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="car: ${cars}">
                                    <td th:text="${car.carSpecification.brand}"></td>
                                    <td th:text="${car.carSpecification.model}"></td>
                                    <td th:text="${car.carSpecification.variant}"></td>
                                    <td th:text="${car.carSpecification.carEngine.gearType}"></td>
                                    <td th:text="${car.carSpecification.carEngine.fuelType}"></td>
                                    <td th:text="${car.price}"></td>
                                    <td>
                                        <div th:switch="${car.status}">
                                            <div th:case="'Bilen er i brug'">
                                                <p style="display: inline">Bilen er i brug af </p>
                                                <a th:href="'customers/' + ${car.customer.customerId}" th:text="${car.customer.firstName} + ' ' + ${car.customer.lastName}"></a>
                                            </div>
                                            <p th:case="*" th:text="${car.status}"></p>
                                        </div> 
                                    </td>
                                    <td><a th:href="@{'/cars/'+${car.carId}}">Detaljer</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button onclick="window.location.href='../cars/createCar'" style="float: right">
                            <p>Indsæt ny bil</p>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>