<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/shared.css">
        <link rel="stylesheet" href="css/sidenav.css">
        <link rel="stylesheet" href="css/cars.css">
        <link rel="stylesheet" href="css/tablestyle.css">
        <link rel="stylesheet" href="css/Forside.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Liste over biler</title>
    </head>
    <body>
        <div id="vertical-body-contents">
            <div class="topbar" >
                <div id="header-icon">
                    <img id="menu-icon" src="images/Logo.svg" onclick="window.location.href='/'">
                </div>

            </div>
            <div id="body-container">
                <div class="sidenav">
                    <div class="menu-button" onclick="window.location.href='/search'">
                        <span class="material-icons">search</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons" >home</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/cars'">
                        <span class="material-icons" style="color: dodgerblue">directions_car</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/customers'">
                        <span class="material-icons">group</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/bookings'">
                        <span class="material-icons">description</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">trending_up</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">settings</span>
                    </div>
                </div>
                <div class=table-body>
                    <div class="table-title">
                        <h1>Tilgængelige biler </h1>
                    </div>
                    <div class="table-container">
                        <div class="menu-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>Mærke</th>
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Geartype</th>
                                    <th>Brændstof</th>
                                    <th>Pris (pr måned) </th>
                                    <th>Status</th>
                                    <th>Aktioner</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="car: ${cars}">
                                    <td th:text="${car.carSpecification.brand}"></td>
                                    <td th:text="${car.carSpecification.model}"></td>
                                    <td th:text="${car.carSpecification.variant}"></td>
                                    <td th:text="${car.carSpecification.carEngine.gearType}"></td>
                                    <td th:text="${car.carSpecification.carEngine.fuelType}"></td>
                                    <td th:text="${car.price}"></td>
                                    <td th:text="${car.status}"></td>
                                    <td><a th:href="@{'/cars/'+${car.carId}}">Detaljer</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="top-buttons">
                        <p>Antal biler lejet ud</p>
                        <p th:text="${usedCars}"></p>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>