<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/sidenav.css">
    <link rel="stylesheet" href="css/Cars.css">
    <link rel="stylesheet" href="css/primary.css">
    <link rel="stylesheet" href="css/TableStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>


<div class="topbar">

    <div class="header-icon">
        <img id="menu-icon" src="images/testlogo.png" onclick="window.location.href='/'">
    </div>
    <h1>Cars</h1>
</div>



<div class="sidenav">
    <div class="menu-button" onclick="window.location.href='/forside'">
        <span class="material-icons">search</span>
    </div>

    <div class="menu-button" onclick="window.location.href='/forside'">
        <span class="material-icons"; >home</span>
    </div>

    <div class="menu-button" onclick="window.location.href='/cars'">
        <span class="material-icons" style="color: dodgerblue">directions_car</span>
    </div>

    <div class="menu-button" onclick="window.location.href='/forside'">
        <span class="material-icons">group</span>
    </div>

    <div class="menu-button" onclick="window.location.href='/forside'">
        <span class="material-icons">description</span>
    </div>

    <div class="menu-button" onclick="window.location.href='/forside'">
        <span class="material-icons">trending_up</span>
    </div>

    <div class="menu-button" onclick="window.location.href='/forside'">
        <span class="material-icons">settings</span>
    </div>

</div>
<div class="body-container">
    <div class="table-title">
        <h1>Cars in repository</h1>
    </div>
    <div class="table-container">
        <div class="menu-table">
            <table>
                <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Registration</th>
                    <th>Type</th>
                    <th>Image</th>
                    <th>Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="car: ${cars}">
                    <td th:text="${car.brand}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.registrationNumber}"></td>
                    <td th:text="${car.carType}"></td>
                    <td><span class="material-symbols-outlined">help</span></td>
                    <td class="dual-link-data"><a th:href="@{'/carDetails/'+${car.registrationNumber}}">Details</a>
                        <a th:href="@{'/deleteCar/'+${car.registrationNumber}}">Remove</a></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>