<!DOCTYPE html>
<html>
<head>

    <script>
        //Script to change page after form submit
        var count = 0;
        async function onLoadClose(){
            if(count===1){
                await new Promise(r => setTimeout(() => r(), 1500));
                window.location.href="../cars";
            }else{count++;}
        }
    </script>

    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/cars.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Opret bil</title>
</head>
<body>
<div id="vertical-body-contents">
    <div id="body-container">
        <div id="details-body">
            <div id="details-input">
                <h1>Bil detaljer</h1>
                <div id="inputs">
                    <iframe name="dummyframe" id="dummyframe" onload="onLoadClose()" style="display: none;"></iframe>
                    <form th:action="${'../v1/cars/'}" method="post" target="dummyframe">
                        <div class="input-row">
                            <input hidden type="text" name="id" th:value="${carId}">
                            <div class="input-column">
                                <p>Mærke:</p><input type="text" name="Brand" placeholder="Mærke">
                            </div>
                            <div class="input-column">
                                <p>Model:</p><input type="text" name="Model" placeholder="Model">
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-column">
                                <p>Variant:</p><input type="text" name="Variant" placeholder="Variant">
                            </div>
                            <div class="input-column">
                                <p>Farve:</p><input type="text" name="Color" placeholder="Farve">
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-column">
                                <p>Gear type:</p><select placeholder="Geartype" name="GearType">
                                <option th:each="gearType : ${T(com.example.bilabonnmenteksamensprojekt.models.cars.CarEngine.GearType).values()}"
                                        th:value="${gearType}"
                                        th:text="${gearType}"
                                </option>
                            </select>
                            </div>
                            <div class="input-column">
                                <p>Brændstof type:</p><select name="FuelType" placeholder="Brændstof type">
                                <option th:each="fuelType : ${T(com.example.bilabonnmenteksamensprojekt.models.cars.CarEngine.FuelType).values()}"
                                        th:value="${fuelType}"
                                        th:text="${fuelType}"
                                </option>
                            </select>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-column">
                                <p>Co2 Udledning:</p><input type="number" name="Emissions" placeholder="Co2 udledning">
                            </div>
                            <div class="input-column">
                                <p>Km/l:</p><input type="number" step=".1" name="KilometersPerLiter" placeholder="Kilometer per liter">
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-column">
                                <p>Pris per måned:</p><input type="number" name="Price" placeholder="Pris per måned" step=".1">
                            </div>
                            <div class="input-column">
                                <p>Diverse:</p>
                                <div>
                                    <label><input class="checkbox" id="InsuranceCheckbox" type="checkbox">Er forsikring inkluderet?
                                        <input id="InsuranceValue" hidden="true" name="InsuranceIncluded">
                                    </label>
                                    <label><input class="checkbox" id="OwnersFeeIncludedCheckbox" type="checkbox">Er ejerafgift inkluderet?
                                        <input id="OwnersFeeIncludedValue" hidden="true" name="OwnersFeeIncluded">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-column">
                                <p>Beskrivelse:</p><textarea type="text" name="Description" style="width: 98%; padding-bottom: 15vh" placeholder="Indtast beskrivelse..."></textarea>
                            </div>
                        </div>
                        <div class="tilbage-btn">
                            <button type="button" onclick="window.location.href='../cars'" class="login-button">
                                <p>Annuller</p>
                            </button>
                            <button type="submit" onclick="document.getElementById('loading_gif_update').setAttribute('style', 'margin-bottom: -1.5%;opacity: 1');" class="login-button">
                                <p>Opret bil</p>
                            </button>
                            <img id="loading_gif_update" style="margin-bottom: -3%;opacity: 0" src="../images/loadingsmall.gif">
                        </div>
                    </form>
                </div>
            </div>
            <div id="details-image">
                <p id="car-brand"><td text="OPRET BIL"></td></p>
                <span class="material-icons" style="display: block;text-align: center;font-size: 100px;justify-content: center;" >directions_car</span>
            </div>
        </div>

    </div>
</div>
</body>

<script>
    const InsuranceCheckbox = document.getElementById("InsuranceCheckbox");
    const OwnersFeeIncludedCheckbox = document.getElementById("OwnersFeeIncludedCheckbox");

    InsuranceCheckbox.addEventListener("change", () => {
        document.getElementById("InsuranceValue").value = InsuranceCheckbox.checked;
    })

    OwnersFeeIncludedCheckbox.addEventListener("change", () => {
        document.getElementById("OwnersFeeIncludedValue").value = OwnersFeeIncludedCheckbox.checked;
    })

    window.addEventListener("load", () => {
        document.getElementById("InsuranceValue").value = InsuranceCheckbox.checked;
        document.getElementById("OwnersFeeIncludedValue").value = OwnersFeeIncludedCheckbox.checked;
    })
</script>

</html>