<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/shared.css">
        <link rel="stylesheet" href="css/sidenav.css">
        <link rel="stylesheet" href="css/cars.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div id="vertical-body-contents">
            <div class="topbar" >
                <div id="header-icon">
                    <img id="menu-icon" src="images/testlogo.png" onclick="window.location.href='/'">
                </div>
            </div>
            <div id="body-container">
                <div class="sidenav">
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">search</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons" >home</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/cars'">
                        <span class="material-icons" style="color: dodgerblue">directions_car</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">group</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">description</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">trending_up</span>
                    </div>
                
                    <div class="menu-button" onclick="window.location.href='/forside'">
                        <span class="material-icons">settings</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>