<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/shared.css">
        <link rel="stylesheet" href="css/sidenav.css">
        <link rel="stylesheet" href="css/cars.css">
        <link rel="stylesheet" href="css/tablestyle.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div id="vertical-body-contents">
            <div id="body-container">
                <div class=table-body>
                    <div class="table-title">
                        <h1>Cars in repository</h1>
                    </div>
                    <div class="table-container">
                        <div class="menu-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>Mærke</th>
                                    <th>Model</th>
                                    <th>Variant</th>
                                    <th>Geartype</th>
                                    <th>Brændstof</th>
                                    <th>Pris (pr måned) </th>
                                    <th>Status</th>
                                    <th>Aktioner</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="car: ${cars}">
                                    <td th:text="${car.carSpecification.brand}"></td>
                                    <td th:text="${car.carSpecification.model}"></td>
                                    <td th:text="${car.carSpecification.variant}"></td>
                                    <td th:text="${car.carSpecification.carEngine.gearType}"></td>
                                    <td th:text="${car.carSpecification.carEngine.fuelType}"></td>
                                    <td th:text="${car.price}"></td>
                                    <td th:text="${car.status}"></td>
                                    <td class="dual-link-data"><a th:href="@{'/carDetails/'+${car.carId}}">Details</a>
                                                               <a th:href="@{'/deleteCar/'+${car.carId}}">Remove</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>