select, input {
    box-sizing: border-box;
    width: 100%;
}

#details-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#details-input {
    margin-left: 5vw;
    width: 45vw;
    height: 100%;
}

#details-image {
    width: 50vh;
    height: 60vh;
    display: block;
    border: 2px solid;
    border-radius: 5px;
    background-color: lightgrey;

    margin-top: 5vh;
    margin-right: 15vw;
}

#inputs {
    width: fit-content;
    border-top: 2px solid gray;
}

.input-row {
    margin-top: 4vh;
    display: flex;
}

.input-column {
    width: 15vw;
}

.input-column input {
    border: 2px solid lightgray;
    padding: 10px;
    font-size: 24px;
    color: rgb(95, 95, 95);
}

.input-row .input-column:first-of-type {
    margin-right: 3vw;
}

.input-column select {
    border: 2px solid lightgray;
    padding: 10px;
    font-size: 24px;
    color: rgb(95, 95, 95);
}

.input-column select:first-of-type {
    margin-right: 3vw;
}

.input-row p {
    margin-right: 20px;
    font-weight: bold;
    font-size: larger;
}

.tilbage-btn {
    margin-top: 7vh;
    font-size: 20px;
    font-weight: bold;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

label {
    display: block;
}
#car-brand {
    text-align: center;
    margin-top: 40%;
    font-size: 29px;
    font-weight: bold;
}