select, input {
    box-sizing: border-box;
    width: 100%;
}

#details-body {
    width: 100%;
}

#details-input {
    margin-left: 5vw;
}

#inputs {
    width: fit-content;
    border-top: 2px solid gray;
}

.input-row {
    margin-top: 4vh;
    display: flex;
}

.input-column {
    width: 15vw;
}

.input-column input {
    border: 2px solid lightgray;
    padding: 10px;
    font-size: 24px;
    color: rgb(95, 95, 95);
}

.input-row .input-column:first-of-type {
    margin-right: 3vw;
}

.input-column select {
    border: 2px solid lightgray;
    padding: 10px;
    font-size: 24px;
    color: rgb(95, 95, 95);
}

.input-column select:first-of-type {
    margin-right: 3vw;
}

.input-row p {
    margin-right: 20px;
    font-weight: bold;
    font-size: larger;
}

.tilbage-btn {
    margin-left: 80vh;
    font-size: 20px;
}

.car-picture {
    width: 50vh;
    height: 60vh;
    display: block;
    margin-left: 55%;
    margin-top: -70vh;
    border: 2px solid;
    border-radius: 5px;

}