.input{
    margin-top: 5%;
    text-align: center;
}
.login-button {

    width: 7%;
    height: 2%;
    background : dimgrey;
    text-align: center;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
    padding: 2px;
    font-family: 'Times New Roman', sans-serif;
    color: white;
   
}
.login-button:hover {
    background: grey;
}
#icon{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}
#align-center {
    text-align: -webkit-center;
    margin-top: 15vh;
    padding-bottom: 5vh;
    
}