@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#header-icon {
    padding: 10px;
    height: 100%;

    display: flex;
}

#menu-icon {
    max-height: 10vh;
}

.topbar {
    width: 100vw;
    height: fit-content;
    border-bottom: 1px solid gray;
    background-color: white;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#vertical-body-contents {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#body-container {
    display: flex;
    height: 100%;
}
