@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#header-icon {
    padding: 10px;
    height: 100%;

    display: flex;
}

#menu-icon {
    max-height: 10vh;
}

.topbar {
    width: 100vw;
    height: fit-content;
    border-bottom: 1px solid gray;
    background-color: white;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#vertical-body-contents {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#body-container {
    display: flex;
    height: 100%;
}
.top-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 1%;
    /* background: linear-gradient(45deg, rgb(117, 224, 192), #5db883);*/
    background-color: lightgrey;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    padding: 40px;

}