@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#topbar-icon {
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
}

#menu-icon {
    height: 10vh;
}

.topbar {
    width: 100vw;
    height: fit-content;
    border-bottom: 2px solid #efeeee;
}

.topbar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.topbar-item:hover {

}

.topbar-item:hover > #expand-more {
    font-size: 30px;
    font-weight: bolder;
}


#user-menu {
    margin-right: 1vw;
}

#user-menu:focus-within .dropdown-list-login {
    display:block;
    margin-right: 0px;
}

.show-dropdown {
    display: block;
}

.hide-dropdown {
    display: none;
}

#topbar-menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user-logged-on {
    margin-right: 2vh;
}

#dropdown-button {
    padding: 0;
    border: 0;
    background-color: white;
}

#user-icon-button {
    font-size: 6em;
    color: lightgray;
    cursor: pointer;
}

#logud {
    background-color: lightgrey;
    color: black;
    text-align: center;
    border: 2px solid;
    cursor: pointer;
}

#dropdown-list-login {
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    cursor: default;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 12vh;
    text-align: center;
    padding: 20px 10px;
    margin-right: 0;
}
.dropdown:focus-within .dropdown-list-login {
    display: inline-block;

}
#p-logud {
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#vertical-body-contents {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#body-container {
    display: flex;
    height: 100%;
}
