<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/sidenav.css">
    <link rel="stylesheet" href="css/Forside.css">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/TableStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Forside</title>
</head>
<body>
<div id="vertical-body-contents">
    <div class="topbar" >
        <div id="topbar-menu-items">
            <div id="topbar-icon">
                <img id="menu-icon" src="images/Logo.svg" onclick="window.location.href='/'">
            </div>
            <div class="topbar-item" id="user-menu" onclick="toggleDropdown()">
                <p id="user-logged-on" th:text="${userFirstname} + ' ' + ${userLastnameChar} + '.'"></p>
                <div>
                    <button id="dropdown-button">
                        <span id="user-icon-button" class="material-icons">account_circle</span>
                    </button>
                    <div id="dropdown-list-login" class="hide-dropdown">
                        <button id="p-logud" type="submit" onclick="window.location.href='/logout'"><span class="material-icons" style="cursor: pointer">logout</span>   Log Ud</button> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="body-container">
        <div class="sidenav">
            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons">search</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons" style="color: dodgerblue">home</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/cars'">
                <span class="material-icons">directions_car</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/customers'">
                <span class="material-icons">group</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/bookings'">
                <span class="material-icons">description</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons">trending_up</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons">settings</span>
            </div>
        </div>
        <div class="sideBody">
            <div class="button-container">
                <div class="top-buttons">
                    <p>Tilgængelige</p>
                </div>
                <div class="top-buttons">
                <p>Afhentes i dag</p>
                </div>

                <div class="top-buttons">
                <p>Afleveres i dag</p>
                </div>
            </div>
-
        <!--     <div class="statistic-buttons">
            <p style="width: 100%; border-bottom: 1px solid black">5 dages historik</p>
            </div>
                <div class="aktive-sager">
                    <p style="width: 100%; border-bottom: 1px solid black; font-size: 24px">Aktive sager</p>
                    <p id="aktive-sager">Forsinket retur af bil <span id="span-aktive-sager">Case:255</span></p>
                    <p id="aktive-sager">Rep. forsinket grundet sygdom <span id="span-aktive-sager" onclick="window.location.href='/cars'">Case:142</span></p>
            </div> -->
            <div class=table-body style="width: 50%; float: right">
                <div class="table-title">
                    <h1>Aktive sager </h1>
                </div>
                <div class="table-container">
                    <div class="menu-table">
                        <table>
                            <thead>
                            <tr>
                                <th>Sagsnummer</th>
                                <th>Opretter</th>
                                <th>Vigtighed</th>
                                <th>Sagsemne</th>
                                <th>beskrivelse</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ticket: ${tickets}">
                                <td th:text="${ticket.ticketId}"></td>
                                <td th:text="${ticket.userId}"></td>
                                <td th:text="${ticket.serverity} + ' ' + ${customer.address.houseNumber} +', ' + ${customer.address.zipCode}"></td>
                                <td th:text="${ticket.ticketname}"></td>
                                <td th:text="${ticket.ticketDescription}"></td>
                                <td><a th:href="@{'/customers/'+${customer.customerId}}">Detaljer</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

           </div>
        </div>
    </div>
</div>

<script>
    function toggleDropdown() {
        var dropdown = document.getElementById("dropdown-list-login");

        if (dropdown.classList.contains("show-dropdown")) {
            dropdown.classList.remove("show-dropdown");
            dropdown.classList.add("hide-dropdown");
        }
        else {
            dropdown.classList.add("show-dropdown");
            dropdown.classList.remove("hide-dropdown");
        }
    }

    window.onclick = function(event) {

        const allowedIds = ["user-logged-on", "user-menu", "user-icon-button"]
        console.log(event.target.id);
        if (!allowedIds.includes(event.target.id)) {
            hideDropdown();
        }
    }

    function hideDropdown() {
        var dropdown = document.getElementById("dropdown-list-login");

        if (dropdown.classList.contains("show-dropdown")) {
            dropdown.classList.remove("show-dropdown");
            dropdown.classList.add("hide-dropdown");
        }
    }
</script>

</body>
</html>