<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/sidenav.css">
    <link rel="stylesheet" href="css/Forside.css">
    <link rel="stylesheet" href="css/shared.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Forside</title>
</head>
<body>
<div id="vertical-body-contents">
    <div class="topbar" >
        <div id="header-icon">
            <img id="menu-icon" src="images/Logo.svg" onclick="window.location.href='/'">
            <div class="topbarMenuItems">
                <p id="user-logged-on" th:text="${userFirstname} + ' ' + ${userLastnameChar} + '.'"></p>
            <div class="dropdown";>
                <button class="dropbutton"><span id="user-button" class="material-icons" style="font-size: 9vh; margin-top: -2vh;">account_circle</span></button>
                <div class="dropdown-list-login">
                    <button id="p-logud" type="submit" onclick="window.location.href='/logout'"><span class="material-icons" >logout</span>   Log Ud</button> <br>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div id="body-container">
        <div class="sidenav">
            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons">search</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons" style="color: dodgerblue">home</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/cars'">
                <span class="material-icons">directions_car</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/customers'">
                <span class="material-icons">group</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/bookings'">
                <span class="material-icons">description</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons">trending_up</span>
            </div>
        
            <div class="menu-button" onclick="window.location.href='/forside'">
                <span class="material-icons">settings</span>
            </div>
        </div>
        <div class="sideBody">
            <div class="button-container">
                <div class="top-buttons">
                    <p>Tilgængelige</p>
                </div>
                <div class="top-buttons">
                <p>Afhentes i dag</p>
                </div>

                <div class="top-buttons">
                <p>Afleveres i dag</p>
                </div>
            </div>

            <div class="statistic-buttons">
            <p style="width: 100%; border-bottom: 1px solid black">5 dages historik</p>
            </div>
                <div class="aktive-sager">
                    <p style="width: 100%; border-bottom: 1px solid black; font-size: 24px">Aktive sager</p>
                    <p id="aktive-sager">Forsinket retur af bil <span id="span-aktive-sager">Case:255</span></p>
                    <p id="aktive-sager">Rep. forsinket grundet sygdom <span id="span-aktive-sager" onclick="window.location.href='/cars'">Case:142</span></p>
            </div>

           </div>
        </div>
    </div>
</div>



</body>
</html>