<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/login.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div id="icon">
        <img src="images/Logo.svg" onclick="window.location.href='/'">
    </div>

    <form action="/login" class="input" id="align-center">
        <label>Brugernavn:</label><br>
        <input name="username" required><br><br>

        <label>Adganskode:</label><br>
        <input type="password" name="password" required><br><br>

        <input hidden="true" name="location" value="forside">

        <div>
            <button type="submit" class="login-button">
                <p>Login</p>
            </button>
        </div>
    </form>

</body>
</html>