<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/login.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div id="icon">
        <img src="images/Logo.svg" onclick="window.location.href='/'">
    </div>

    <form class="input" id="align-center" method="post">

        <label>Brugernavn:</label><br>
        <input name="admin" required><br><br>

        <label>Adganskode:</label><br>
        <input type="password" name="pasword" required><br><br>


        <div>
            <button type="submit" class="login-button" onclick="window.location.href='/forside'">
                <p>Login</p>
            </button>
        </div>
    </form>

</body>
</html>