<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/login.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div id="icon">
        <img src="images/Logo.svg" onclick="window.location.href='/'">
    </div>
<div id="align-center">
    <form class="input">
        <label>Brugernavn:</label><br>
        <input><br><br>

        <label>Adganskode:</label><br>
        <input type="password"><br><br>
    </form>

    <div>
        <div class="login-button" onclick="window.location.href='/forside'">
            <p>Login</p>
        </div>
    </div>
</div>

</body>
</html>