<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/sidenav.css">
    <link rel="stylesheet" href="css/Forside.css">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/TableStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<div id="vertical-body-contents">
    <div id="body-container">
        <div class=table-body>
            <div class="table-title">
                <h1>Søg i system</h1>
            </div>
            <div class="table-container">
                    <input id="query" name="q" onkeydown="checkenter()"
                           placeholder="Indtast stikord..."
                           aria-label="Søg igennem database"
                           style="width: 20%"
                    >
                    <button type='button' onclick="search()">Søg</button>
                    <img id="loading_gif" style="margin-bottom: -0.7%;opacity: 0" src="../images/loadingsmall.gif">
                <iframe id="searchFrame" name="navigationFrameSearch" style="width: 100%;height: 70vh;border: 0px" src="about:blank"></iframe>
                <script>

                    // Query the elements
                    const iframeEle = document.getElementById('searchFrame');
                    const loadingEle = document.getElementById('loading_gif');

                    iframeEle.addEventListener('load', function () {
                        loadingEle.style.opacity=0;
                    });

                    function checkenter() {
                        if(event.key === 'Enter') {
                            search()
                        }
                    }
                    function search() {
                        const url = window.location.origin + window.location.pathname + '/' + document.getElementById('query').value
                        window.frames["navigationFrameSearch"].location = url;
                        loadingEle.style.opacity=1;
                    }
                </script>
            </div>
        </div>
    </div>

</div>
</body>
</html>