<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/Forside.css">
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/TableStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<div id="vertical-body-contents">
    <div id="body-container">
        <div class=table-body>
            <div class="table-title">
                <h1 style="font-size: smaller">Søge resultat </h1>
            </div>
            <div class="table-container">
                <div class="menu-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Info</th>
                            <th>Detaljer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="searchResult: ${searchResults}">
                            <td th:text="${searchResult.getResultType}"></td>
                            <td th:text="${searchResult.getResultInfo}"></td>
                            <td><a th:href="${searchResult.getResultLink}" th:text="${searchResult.getResultType+' detaljer'}"></a> | <a th:href="${searchResult.getResultGeneralLink}">Gå til fuld liste</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
 </div>
</div>
</body>
</html>