<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Opret booking</title>
</head>
<body>
<div id="vertical-body-contents">
    <div id="body-container">
        <div id="details-body">
            <div id="details-input">
                <h1>Opret booking</h1>
                <div id="inputs">
                    <form action="/v1/bookings/" method="post">
                        <div>
                            <div class="input-column">
                                <p>Vælg kunde:</p><select name="CustomerId" id="userSelectCombobox">
                                    <option th:each="customer: ${customers}"
                                            th:value="${customer.customerId}"
                                            th:text="${customer.firstName + ' ' + customer.lastName}">
                                    </option>
                                </select> 
                                <p>Vælg bil:</p><select name="CarId" id="userSelectCombobox">
                                    <option th:each="car: ${cars}"
                                            th:value="${car.carId}"
                                            th:text="${car.carSpecification.brand + ' ' + car.carSpecification.model + ' ' + car.carSpecification.variant}">
                                    </option>
                                </select>
                                <p>Vælg udleveringslokation:</p><select name="LocationId" id="userSelectCombobox">
                                    <option th:each="location: ${locations}"
                                            th:value="${location.locationId}"
                                            th:text="${location.locationName}">
                                    </option>
                                </select>
                                <p>Afleverings dato:</p><input type="date" name="DeliveryDate">
                                <p>Retur dato:</p><input type="date" name="ReturnDate">
                            </div>
                        </div>
                        <button type="submit" class="login-button" style="margin-top: 20px;margin-bottom: 20px">
                            <p>Gem og opret booking</p>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>