<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/sidenav.css">
    <link rel="stylesheet" href="../css/popup.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Opret booking</title>
</head>
<body>
<div id="vertical-body-contents">
    <div id="body-container">
        <div id="details-body">
            <div id="details-input">
                <h1>Opret booking</h1>
                <div id="inputs">
                    <form action="/v1/bookings/" method="post">
                        <div class="input-row">
                            <div class="input-column">
                                <p>Kunde id::</p><input type="text" name="CustomerId">
                                <p>Bil id:</p><input type="text" name="CarId">
                                <p>By:</p><input type="text" name="PickupLocationId">
                                <p>Postnummer:</p><input type="text" name="DeliveryDate">
                                <p>Adresse (Gade kun):</p><input type="text" name="ReturnDate">
                            </div>
                        </div>
                        <button type="submit" class="login-button" style="margin-top: 20px;margin-bottom: 20px">
                            <p>Gem og opret booking</p>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>