<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/shared.css">
        <link rel="stylesheet" href="../css/sidenav.css">
        <link rel="stylesheet" href="../css/popup.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Ændre kodeord</title>
    </head>
    <body>
        <div id="vertical-body-contents">
            <div id="body-container">
                <div id="details-body">
                    <div id="details-input">
                        <h1>Ændre password</h1>
                        <div id="inputs">
                            <form th:action="'/v1/users/password/' + ${userId}" method="post">
                                <div class="input-row">
                                    <div class="input-column">
                                        <p>Gammelt password:</p><input type="text" name="OldPassword">
                                        <p>Nyt password:</p><input type="text" name="NewPassword">
                                    </div>
                                </div>
                                <button type="submit" class="login-button" style="margin-top: 20px;margin-bottom: 20px">
                                    <p>Gem</p>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        </script>
    </body>
</html>